/*
Theme Name:  DemoTheme
Theme URI: 
Author: Alejandro de Hombre
Author URI:
Description:
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Site, responsive web design.
Text Domain: DemoTheme
*/
html {
      scroll-behavior: smooth;
    }

.footerPosition{
	/*position: fixed;*/
	bottom: 0px;
}

.marginBottomFooter{
	margin-bottom: 95px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
    font-size: 12px;
    padding-left: 8px;
    padding-top: -5px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
div{
    position: relative;
}

@font-face {

    font-family: Montserrat-Bold;
    src: url('assets/Fonts/Montserrat-Bold.ttf'),url('assets/Fonts/Montserrat-Bold.otf'),url('assets/Fonts/Montserrat-Bold.wof'),url('assets/Fonts/Montserrat-Bold.eot');
    font-display: auto;
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('assets/Fonts/Montserrat-Regular.ttf'),url('assets/Fonts/Montserrat-Regular.otf'),url('assets/Fonts/Montserrat-Regular.wof'),url('assets/Fonts/Montserrat-Regular.eot');
    font-display: auto;
}
body{
       font-family: Montserrat-Regular;
}

h1,h2,h3,h4,h5{
    font-family: Montserrat-Bold !important;
}
.boldText{
    font-family: Montserrat-Bold !important;
}
.uppercase{
    text-transform: uppercase;
}
.card{
    border-radius:45px;
}